h1 {
  margin: 50px auto 0 auto;
  font-family: 'Rock Salt', cursive;
  color: #ffa45b;
  font-size: 4.25rem;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Arvo', serif;
  color: #537780
}


h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.5rem;

}

h3 {
  font-family: 'Quicksand', sans-serif;
}

.top-container {
  background-color: #e0fcff;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  padding-top: 20px;
  background-color: #fffcca;
}

.bottom-container {
  background-color: #fffcca;
  position: relative;
  padding-bottom: 25px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.btn {
  color: #537780
}

.footer-link {
  color: #537780
}
