h1 {
  margin-top: 0;
  font-family: 'Rock Salt', cursive;
  color: #55e9bc;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: #537780
}

h2 {
  font-family: 'Arvo', serif;

}

h3 {
  font-family: 'Arvo', serif;

}

.top-container {
  background-color: #fffcca;
}

.middle-container {
  height: 200px;
  width: 200px;
  background-color: yellow;
}

.bottom-container {
  height: 200px;
  width: 200px;
  background-color: purple;
}

.top-cloud {
  position: relative;
  left: 200px;
  margin-top: 50px;
}

.bottom-cloud {
  position: absolute;
}
